<table>
    <tr><td>Mensajes</td><td> +1 recibidos</td></tr>
    {% for masuno in masuno_list %}
    <tr>
        <td> {{ masuno.mensaje__mensaje}}</td><td> {{ masuno.mensaje__count}}</td>
    </tr>
{%endfor %}
